.App {
  text-align: center;
  background-color: #282c34;
}

.App-header {
  background-color: #333333;
  min-height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 20px;
}

.App-link {
  color: #61dafb;
}

#logo img {
  width: 30px;
  height: auto;
  padding-right: 10px;
}

#page-name {
  font-weight: bold;
}
