.App {
  /* text-align: center; */
  background-color: #282c34;
}

.App-header {
  background-color: #333333;
  min-height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 20px;
}

.App-link {
  color: #61dafb;
}

#logo img {
  width: 30px;
  height: auto;
  padding-right: 10px;
}

#page-name {
  font-weight: bold;
}

.searchBar {
  height: 35px;
  width: 65%;
  margin: 20px 0 20px 20px;
  padding-left: 10px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px 0 0 5px;
  font-size: 18px;
}

.fa-search {
  background-color: #ffffff;
  color: #333333;
  height: 35px;
  vertical-align: middle;
  margin-top: -2.3px;
  padding: 0 5px;
  border-radius: 0 5px 5px 0;
}
